{% extends 'service_app/base.html' %}

{% block content %}
{% load paragrapher %}

<div class="col-3 text-start" style="position: relative; top: 1cm;">
    <a type="button" class="btn btn-outline-success" href="{% url 'blog_app:all_posts' %}">Вернуться к просмотру</a>
</div>
<div class="container text-left" style="position: relative; top: 1cm;">
    <div class="col">
        <div class="card-title">
            <div align="center"> <h3>{{ post_data.title }}</h3> </div>
        </div>
        <div class="card-body text-start" style="font-size: 5mm;">
            
            {% autoescape off %}            
            <p class="fw-light">{{ post_data.content|paragrapher }}</p>     
            {% endautoescape %}        
        </div>
    </div>
</div>

<div class="col-12 mb-6" style="position: relative; top: 2cm;">
    <div class="col text-start">
        <div class="row"><h5>Количество просмотров: {{ post_data.views_counter }}</h5></div>
        <div class="row"><h5>Слаг для этой записи: {{ post_data.slug }}</h5></div>
    </div>

{% endblock content %}