{% extends 'service_app/base.html' %}

{% block content %}
{% load mediapath %}

<h3 align="center">Здоровье в еде!</h3>


{% if user.is_authenticated %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary" type="button" href="{% url 'blog_app:create' %}" style="position: relative; top: 1cm;" >Добавить запись</a>
    </div>
{% endif %}

<div class="album" style="position: relative; top: 1cm;">
    <div class="container text-center">
        <div class="row row row-cols-3" style="position: relative; top: 1cm;">
            {% for card in object_list %}
            <div class="col md-3 mb-3">
                <div style="width: 20rem; height: 30rem; background-color: rgb(31, 31, 31);">
                    <div style="position: relative; top: 1px;">                        
                        {% if user.is_staff or user.is_superuser %}
                            {% if card.is_published %}
                                <a href="{% url 'blog_app:change_blog_status' card.pk %}" class="btn btn-primary btn-sm">Снять с пyбликации</a>
                            {% else %}
                                <a href="{% url 'blog_app:change_blog_status' card.pk %}" class="btn btn-primary btn-sm">Вернуть в публикацию</a>
                            {% endif %}
                        {% endif %}
                    </div>

                    {% if  card.preview%}
                        <img src="{% mediapath card.preview %}" style="height: 250px; width: 300;" class="card-img-top"
                        alt="Превью">
                    {% else %}
                        <img src="../../../media/without_picture.jpg" style="height: 250px; width: 300px;" class="card-img-top"
                            alt="Превью">
                    {% endif %}
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.content|truncatechars:60 }}</p>
                        
                    </div>
                    <div class="card-footer">
                        {% if user.email != card.post_author or user.is_authenticated == False %}
                            <a href="{% url 'blog_app:view' card.pk %}" class="btn btn-primary">Читать</a>
                        {% else %}
                            <a href="{% url 'blog_app:view' card.pk %}" class="btn btn-primary">Читать</a>
                            <a href="{% url 'blog_app:edit' card.pk %}"class="btn btn-primary">Изменить</a>
                            <a href="{% url 'blog_app:delete' card.pk %}"class="btn btn-danger">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}