{% extends 'service_app/base.html' %}


{% block content %}
<style>
    mono {font-family: monospace;}
</style>
<form method="post">
    {% csrf_token %}
    <div class="text-center" style="position: relative; top: 1cm;">
        <h1>Вы действительно хотите удалить запись:</h1>
        <mono style="font-size: 15mm;">{{ context.mail_header }}</mono>

        {{ form }}

        <div class="col-3 row" style="position: relative; top: 5mm; left: 185mm;">
            <div class="col">
                <input type="submit" class="btn btn-outline-danger" value="Подтвердить">
            </div>
            <div class="col">
                <a type="button" class="btn btn-outline-warning" href="{% url 'service_app:index' %}">Отмена</a>
            </div>
        </div>
    </div>
</form>
{% endblock content %}